{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_masterstart/columns2

    Admin time setting template.

    masterstart 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>

{{>theme_masterstart/head}}

<body {{{ bodyattributes }}}>
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}

    {{>theme_masterstart/header}}

    <div id="page" class="container{{#isadmin}}-fluid{{/isadmin}}">

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}



                <section id="region-main">
                  <section class="module-content {{#isdashboard}} hidden {{/isdashboard}}">
                    <h3>My Assignments</h3>
                    <h6 class="mb-3">
                      <span class="clock-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="M48 4C23.7 4 4 23.7 4 48c0 24.3 19.7 44 44 44 24.3 0 44-19.7 44-44C92 23.7 72.3 4 48 4zM48 84c-19.9 0-36-16.1-36-36s16.1-36 36-36 36 16.1 36 36S67.9 84 48 84z"/><path d="M52 46.3V24c0-2.2-1.8-4-4-4s-4 1.8-4 4v24c0 0 0 0 0 0 0 0.3 0 0.5 0.1 0.8 0 0.1 0.1 0.2 0.1 0.4 0 0.1 0.1 0.3 0.1 0.4 0.1 0.1 0.1 0.3 0.2 0.4 0.1 0.1 0.1 0.2 0.2 0.3 0.1 0.2 0.3 0.4 0.5 0.6l11.3 11.3c1.6 1.6 4.1 1.6 5.7 0 1.6-1.6 1.6-4.1 0-5.7L52 46.3z"/></svg>
                      </span>
                      {{{ output.master_start_next_assignment_due }}}
                    </h6>

                    {{{ output.master_start_assignments_tabs }}}
                    {{{ output.master_start_assignments_tab_lists }}}

                    <div class="hidden">
                        {{{ output.main_content }}}
                    </div>
                  </section>
                </section>
            </div>
        </div>
    </div>
    {{> theme_masterstart/nav-drawer }}
</div>


{{> theme_masterstart/footer }}

<script>
    var allowed_url ='';
    function bobcat(url){
      if(String(url).indexOf(allowed_url) == -1) {
        $('.modal-close').click();
        location.reload();
      }
    }
    
    if ($(".uploader")) {
      $(".uploader").click(function(){
        allowed_url = '/mod/assign/view.php?id=' + $(this).attr("data-id") + '&action=editsubmission&pop=true#mform1';
        $("#modal_content").html('<iframe frameborder="0" scrolling="yes" style="overflow-y: scroll;" onLoad="bobcat(this.contentWindow.location)" width="800px" height="500" src="' + $(this).attr("data-host") + '/mod/assign/view.php?id=' + $(this).attr("data-id") + '&action=editsubmission&pop=true#mform1"></iframe><br /><br />');
      });
    }
</script>