{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_masterstart/columns2

    Admin time setting template.

    masterstart 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
{{>theme_masterstart/head}}

<body {{{ bodyattributes }}}>
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}

    {{>theme_masterstart/header}}

    <div id="page" class="container{{#isadmin}}-fluid{{/isadmin}}">
        
        {{#isadmin}}
          {{{ output.full_header }}}
          <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">

              {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                  <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
              {{/hasregionmainsettingsmenu}}

              <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                <div class="card card-block">
                  {{#hasregionmainsettingsmenu}}
                    <div class="region_main_settings_menu_proxy"></div>
                  {{/hasregionmainsettingsmenu}}

                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                 </div>
               </section>

              {{#hasblocks}}
                <section data-region="blocks-column" class="hidden-print">
                  {{{ sidepreblocks }}}
                </section>
              {{/hasblocks}}
            </div>
          </div>
        {{/isadmin}}

        {{^isadmin}}
          <div id="page-content" class="row">
              <div id="region-main-box" class="col-xs-12">
                  <!-- {{{ output.full_header }}} -->
                  
                  {{#hasregionmainsettingsmenu}}
                  <div id="region-main-settings-menu" class="hidden-print">
                      <div> {{{ output.region_main_settings_menu }}} </div>
                  </div>
                  {{/hasregionmainsettingsmenu}}
                  <section id="region-main">
                      <section class="module-content {{#isdashboard}} hidden {{/isdashboard}}">
                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}

                        <div class="card content-card">
                          {{#iscourse}}
                            <!--<div class="card-header text-right">-->
                              {{{ output.master_start_announcements }}}
                            <!--</div>-->
                          {{/iscourse}}

                          <div class="card-body">

                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.course_content_footer }}}
                          </div>
                        </div>
                      </section>
                  </section>
              </div>
          </div>
        {{/isadmin}}
    </div>
    {{> theme_masterstart/nav-drawer }}
</div>

{{>theme_masterstart/footer}}
