
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h2 class="modal-title">Log in using your account on:</h2>
        <a href="#" class="btn btn-secondary m-3">MasterStart</a>
        <p>Cookies must be enabled in your browser <a href="#">?</a></p>
        <p><a href="#" class="prev-module-link" data-dismiss="modal"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="150.5 0 300 295"><path d="M389 261.3L355.3 295 212 147.5 355.3 0 389 33.7 279.4 147.5 389 261.3z" fill="#32315E"/></svg></span>Back to MasterStart</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Assignment Modal -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h2 class="modal-title">Submit Your Assignment</h2>
        <span class="modal-close" data-dismiss="modal">
          <img src="/theme/masterstart/images/close.svg">
        </span>
        <div id="modal_content"></div>
      </div>
    </div>
  </div>
</div>


<footer id="page-footer" class="p-y-1 bg-inverse hidden">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        {{{ output.standard_foot_html }}}
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>

</footer>
</body>
</html>

{{#js}}
  require(['jquery'], function($) {
      $('body').on('mouseenter mouseleave','.dropdown',function(e){
        var _d=$(e.target).closest('.dropdown');_d.addClass('show');
        setTimeout(function(){
          _d[_d.is(':hover')?'addClass':'removeClass']('show');
        },300);
      });

      $(".navbar-toggler").on('click', function(){
        $(this).toggleClass('open');
        $('.navbar-collapse').toggleClass('show');
        if($(this).hasClass('main-toggle')) {
          $('#accountDropdown').removeClass('open');
          $('#accountDropdown').parent().find('.dropdown-menu').hide()
        }
      });

      $('.navbar .account-menu .navbar-nav .nav-link.dropdown-toggle').on('click', function(){
        /* Close Main Menu if Open */
        $(".navbar-toggler.main-toggle").removeClass('open');
        $('.navbar .navbar-collapse').removeClass('show');

        if ($(this).hasClass('open')) {
          $(this).removeClass('open');
          $(this).parent().find('.dropdown-menu').hide();
        } else {
          $(this).addClass('open');
          $(this).parent().find('.dropdown-menu').show();
        }
      });

      function setHeight() {
        var height = $("nav.navbar").height() + $("nav.breadcrumb-wrapper").height();
        $("body").css('padding-top', height);
      }

      $(document).ready(function(){
        setHeight();

        $(".progress-bar .fill").each(function(){
          var fillPercent = $(this).data('fill-amount');
          $(this).css('width', fillPercent);
        });

        $(".intro-content-wrapper.seen .intro-content-toggle").on('click', function(){
          $(this).parent().find('.intro-content').slideToggle();
          if($(this).hasClass('open')) {
            $(this).removeClass('open');
          } else {
            $(this).addClass('open');
          }
        });   

      });

      $(window).on('resize', function(){
        setHeight();
      });

      $(".navimages").find("a").each(function(){
        $(this).addClass("btn btn-primary");
        if(this.classList.contains('bookprev')) {
          $(this).addClass('previous float-left');
          $(this).text('Previous');
        } else if (this.classList.contains('booknext')) {
          $(this).addClass('next float-right');
          $(this).text('Next');
        } else if (this.classList.contains('bookexit')) {
          $(this).addClass('d-none');
          $(this).text('Finish');
        }
      });
  });
{{/js}}

<script type="text/javascript" src="/theme/masterstart/dist/masterstart.min.js{{{ output.version }}}"></script>
