<head>
    <title>{{{ output.page_title }}}</title>
    {{{ output.standard_head_html }}}
    {{#pagetitle}}
      <title>{{{ pagetitle }}}</title>
    {{/pagetitle}}
    {{^pagetitle}}
      <title>{{{ output.page_title }}}</title>
    {{/pagetitle}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/theme/masterstart/dist/masterstart.css{{{ output.version }}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/theme/masterstart/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/theme/masterstart/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/masterstart/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/theme/masterstart/images/favicons/manifest.json">
    <link rel="mask-icon" href="/theme/masterstart/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>