{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<nav class="navbar navbar-expand-md fixed-top navbar-dark mb-4">      
  <button class="navbar-toggler error main-toggle" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="/theme/masterstart/images/logo.png" width="50"></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav main-nav mr-auto">

      {{{ output.master_start_course_menu }}}

    </ul>
       
  </div>
  
  <div class="account-menu">
    {{^loggedin}}
      <ul class="navbar-nav main-nav mr-auto">
        <li class="nav-item login">
          <!-- <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#loginModal">Login</a> -->
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    {{/loggedin}}

    {{#loggedin}}
      <img class="avatar" src="{{{ output.user_profile_pic }}}">
      <div class="user-info">
        <h6 class="mb-0">{{{ fullname }}}</h6>
        {{{ email }}}
      </div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" data-target="#"></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="mobile-user-info">
              <img class="avatar" src="{{{ output.user_profile_pic }}}">
              <h6 class="mb-0">{{{ fullname }}}</h6>
              {{{ email }}}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/profile.php">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/grade/report/overview/index.php">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/message/index.php">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/preferences.php">Preferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://masterstart.com/">Go to MasterStart website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/logout.php">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  {{/loggedin}}
</nav>

<nav class="breadcrumb-wrapper" aria-label="breadcrumb" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item back-button">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path d="M8.4 12.4L6.8 14 0 7l6.8-7L8.4 1.6 3.2 7 8.4 12.4z" fill="#fff"/></svg>
            </a>
          </li>
          {{{ output.breadcrumb }}}
          <!--<li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>-->
        </ol>
      </div>
    </div>
  </div>
</nav>


