{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_masterstart/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
{{>theme_masterstart/head}}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            <div class="col col-sm-12 login-background py-5">
                <div class="row">
                    <div class="col col-sm-12 col-md-8 col-lg-4 mx-auto">
                        <div class="card py-4 px-5">
                        <div class="card-body">
                            <h2 class="login-instruction">Log in using your account on:</h2>
                            <div class="login-error"></div>
                            <div class="login-button">
                                
                            </div> 
                            <p class="cookies">Cookies must be enabled in your browser</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="region-main-box">
                <section id="region-main" class="col-xs-12">
                    <div class="{{^admin_login}}moodle-login{{/admin_login}}">
                        {{{ output.main_content }}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{{{ output.standard_footer_html }}}
{{{ output.standard_end_of_body_html }}}

</body>
</html>
{{#js}}
require(['theme_masterstart/loader']);
require(['jquery']);
{{/js}}

<script>
    $('document').ready(function() {
        if ($('.potentialidplist')[0]) {
            $('.login-button').append($('.potentialidplist'));
        } else {
            $('.login-button').append($('#guestlogin'));
        }

        if ($('.errorbox')[0]) {
            $('.login-error').append($('.errorbox'));
        }

        $('.back-to-masterstart').on('click', function() {
            window.history.back();
        })

        $('.show-login').on('click', function() {
            $('.moodle-login').toggle();
        })
    });
</script>