{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    {{#pagetitle}}
      <title>{{{ pagetitle }}}</title>
    {{/pagetitle}}
    {{^pagetitle}}
      <title>{{{ output.page_title }}}</title>
    {{/pagetitle}}
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/theme/boost/dist/masterstart.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}

    {{>theme_boost/header}}

    <div id="page" class="container{{#isadmin}}-fluid{{/isadmin}}">

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}

                <section id="region-main">
                  <section class="module-content {{#isdashboard}} hidden {{/isdashboard}}">
                    <h3>My Assignments</h3>
                    <h6 class="mb-3">
                      <span class="clock-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="M48 4C23.7 4 4 23.7 4 48c0 24.3 19.7 44 44 44 24.3 0 44-19.7 44-44C92 23.7 72.3 4 48 4zM48 84c-19.9 0-36-16.1-36-36s16.1-36 36-36 36 16.1 36 36S67.9 84 48 84z"/><path d="M52 46.3V24c0-2.2-1.8-4-4-4s-4 1.8-4 4v24c0 0 0 0 0 0 0 0.3 0 0.5 0.1 0.8 0 0.1 0.1 0.2 0.1 0.4 0 0.1 0.1 0.3 0.1 0.4 0.1 0.1 0.1 0.3 0.2 0.4 0.1 0.1 0.1 0.2 0.2 0.3 0.1 0.2 0.3 0.4 0.5 0.6l11.3 11.3c1.6 1.6 4.1 1.6 5.7 0 1.6-1.6 1.6-4.1 0-5.7L52 46.3z"/></svg>
                      </span>
                      Module 4 is due by 4 March 2018
                    </h6>

                    {{{ output.master_start_assignments_tabs }}}
                    {{{ output.master_start_assignments_tab_lists }}}
                  </section>
                </section>
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h2 class="modal-title">Log in using your account on:</h2>
        <a href="#" class="btn btn-secondary m-3">MasterStart</a>
        <p>Cookies must be enabled in your browser <a href="#">?</a></p>
        <p><a href="#" class="prev-module-link" data-dismiss="modal"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="150.5 0 300 295"><path d="M389 261.3L355.3 295 212 147.5 355.3 0 389 33.7 279.4 147.5 389 261.3z" fill="#32315E"/></svg></span>Back to MasterStart</a></p>
      </div>
    </div>
  </div>
</div>

<footer id="page-footer" class="p-y-1 bg-inverse hidden">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{{ output.standard_foot_html }}}
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>
</body>
</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/theme/boost/dist/masterstart.min.js"></script>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
