.card {
	border: none;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  color: $medium-blue;
  strong {
  	color: $blue;
  }
	.card-header {
		background: transparent;
		.card-heading {
			color: $primary;
			font-weight: bold;
			margin: 0;
			font-size: 0.85rem;
		}
	}
	.card-title {
		color: $dark-blue;
	}
	p {
		line-height: 1.25;
	}
	img + p {
		margin-top: $spacer;
	}
	.card-footer {
		background: transparent;
	}
	.card-type-icon {
		display: flex;
    align-items: center;
    justify-content: flex-start;
		color: $light-gray;
		font-size: 20px;
		.inline-svg {
			width: 32px;
			height: 32px;
			margin-right: 8px;
			display: flex;
		  align-items: center;
		  justify-content: flex-start;
			svg {
				width: 90%;
				height: 90%;
			}	
		}
	}
}

.dashboard-cards {
	.card {
		flex-basis: calc(50% - 30px);
		max-width: calc(50% - 30px);
		margin: $spacer * 0.5;
		.card-body {
			padding: $spacer * 2 $spacer * 1.5;
			.card-title {
				color: $dark-blue
			}
			h6 {
				color: $blue;
			}
			.card-title + .card-text {
				font-size: 1rem;
			}
			.card-text {
				line-height: 1.5;
			}
			.block-region {
				.region-content {
					.block-region {
						.block_calendar_month {
							box-shadow: none;
							.card-block {
								h3 {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.card-footer {
			border-top: none;
			padding: 0 $spacer * 1.5 $spacer * 2;
		}
	}
}


.card.content-card {
	.card-body {
		padding: 2rem;
	}
	.card-main-image {
		width: 100%;
		height: auto;
	}
	p {
		line-height: 1.5;
		margin-bottom: 1.25rem;
	}
}