.form-check {
  .form-check-label {
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
      &:checked ~ .checkmark {
        background-color: $primary;
        &:after {
          display: block;
        }
      }
    }
  }
  &.disabled {
    .form-check-label {
      cursor: not-allowed;
      input ~ .checkmark {
        background-color: rgba(0,0,0,0.2);
      }
    } 
  }
  &:hover {
    input ~ .checkmark {
      background-color: rgba(0,0,0,0.2);
    }
  }
}

input + .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: $white;
  border: solid 1px $medium-blue;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
input[type="radio"] + .checkmark {
  border-radius: 50%;
  &:after {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: $white;
  }
}

input[type="checkbox"] + .checkmark {
  border-radius: 0;
  &:after {
    background-image: url(../images/tick.svg);
    top: 0;
    left: 0;
    background-size: 22px;
    width: 100%;
    height: 100%;
    background-position: center;
  }
}
