html {
	font-size: 16px;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  padding-top: 120px; /* Offset Navbar height */
  background-color: $light-blue !important;
  font-size: 0.875rem;
  // font-size: 16px;
  a {
  	color: $primary;
  }
}

table.answer {
	display: flex;
	flex-direction: column;
	width: 100%;
	tr {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: $spacer;
		@include media-breakpoint-up(sm) {
			flex-direction: row;
		}
		td {
			flex: 1;
			select.custom-select {
				width: 100%;
				margin: 0 !important;
				padding: 0 16px;
				max-width: calc(100% - 32px;)
			}
		}
	}
}

body:not(.path-mod-quiz, #page-mod-forum-post) {
	table {
		width: 100% !important;
	}

	table, th, td {
	  border: 2px solid #e8f0f7 !important;
	}

	th, td {
		padding: 15px !important;
	}

	.block .minicalendar th, .block .minicalendar td {
		padding: 2px !important;
	}

	.dashboard-cards .card .card-body .block-region .region-content .block-region .block_calendar_month {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
}

body.path-mod-quiz {
	.custom-select {
		max-width: 72%;
	}
}


h2 {
	// font-family: OpenSans;
	font-size: 20px;
	color: #9ba9bc;
}

h3 {
	// font-family: OpenSans;
	font-size: 30px;
	color: #32315e;
}

h4 {
	// font-family: OpenSans;
	font-size: 24px;
	color: #32315e;
}

h5 {
	// font-family: OpenSans;
	font-size: 16px;
	font-weight: bold;
	color: #5f6e96;
}

// h3 {
// 	margin-bottom: 1rem;
// 	font-size: 28px;
// }

#page {
	margin-top: 0;
}

.hidden {
	display: none;
}

.modified {
	display: none;
}

#region-main-settings-menu {
	display: none !important;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover {
  	background-color: #fff;
  	color: $primary;
  	border-color: $primary;
  }
}
.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  &:hover {
  	background-color: #fff;
  	color: $secondary;
  	border-color: $secondary;
  }
}
.btn-outline-primary {
  border-color: $primary;
  color: $primary;
  &:hover {
  	background-color: $primary;
  	color: #fff;
  	border-color: $primary;
  }
}
.btn-outline-secondary {
  border-color: $secondary;
  color: $secondary;
  &:hover {
  	background-color: $secondary;
  	color: #fff;
  	border-color: $secondary;
  }
}

section {
	width: 100%;
	&.module-content {
		padding-top: 16px;
    padding-bottom: 140px;
    max-width: 800px;
    margin: auto;
		@include media-breakpoint-down(md) {
			padding-bottom: 0;
		}
    .book_content img {
    	padding: 5px;
    	background-color: #E8F0F7;
    }
	}
	h6, h3 {
  	color: $dark-blue;
  }
  h6 + h3 {
  	margin-top: -0.5rem;
  }
}

.module-content > h3 {
	margin-bottom: 10px;
}

.card-body {
	
}

.completion-icon-helper {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(../images/empty.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.inline-svg {
	svg {
		width: 0.875rem;
		height: 0.875rem;
	}
}

.clock-icon {
	svg {
		width: 12px;
		height: 12px;
		path {
			fill: $medium-blue;
		}
	}
}

.course-progress-buttons {
	display: flex;
	flex-direction: row;
	margin: $spacer 0;
	.course-button {
		max-width: 3rem;
		flex: 1;
		height: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
		margin-right: 2px;
		border-radius: $border-radius;
		background-color: #E4F5FC;
		color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		top: 0;
		left: 0;
		color: $white;
		a {
			color: #fff;
		}
		&.current {
			background-color: $primary;
			position: relative;
			top: 0;
			left: 0;
			color: $white;
			a {
				color: #fff;
			}
			&:before {
				content: "";
		    display: block;
		    position: absolute;
		    top: -8px;
		    left: 50%;
				transform: translateX(-50%);
		    width: 0; 
		    height: 0; 
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 6px solid $primary;
			}
		}
		&.active {
			background-color: rgba(27,170,228,0.3);
			color: $medium-blue;
		}
		&.complete {
			background-image: url('../images/tick.svg');
			background-color: $secondary;
			span {
				display: none;
			}
		}
		&.locked {
			img {
				width: 12px;
				height: 12px;
			}
		}
	}
	&.large {
		margin-top: 41px;
		.course-button {
			height: 4rem;
			margin-right: 4px;
			max-width: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			margin-bottom: calc(12px + 12px + 4px);
			a {
				color: #fff;
			}
			&.current {
				&:before {
					content: "This Weeks Module";
					font-size: 0.6rem;
					text-transform: uppercase;
					padding: $spacer / 2;
					line-height: 1;
					background-image: url('../images/module-marker.svg');
			    display: block;
			    position: absolute;
			    top: -45px;
			    left: 50%;
					transform: translateX(-50%);
					width: 74px;
					height: 41px;
					border: none;
					background-repeat: no-repeat;
				}
				.progress-bar {
					background-color: #B4E1F4;
				}
				.date {
					color: $primary;
					font-weight: bold;
				}
				a {
					color: #fff;
				}
			}
			&.locked {
				color: rgba(26, 111, 188, 0.3);
				line-height: 1;
				img {
					width: 12px;
				}
			}
			.progress-bar	{
				width: 100%;
				height: 10px;
				background-color: #E4F5FC;
				border-radius: 5px;
				position: absolute;
				top: calc(100% + 2px);
				left: 0;
				justify-content: flex-start;
				.fill {
					min-width: 10px;
					border-radius: 5px;
					height: 100%;
					width: 100%;
					display: block;
					background: $primary;
				}
			}
			.date {
				font-size: 12px;
				height: 12px;
				line-height: 12px;
				position: absolute;
				top: calc(100% + 14px);
				left: 0;
				width: 100%;
				color: $medium-blue;
				text-align: center;
				text-transform: uppercase; 
			}
		}
	}
}

.assignment-list {
	list-style: none;
	padding: 0;
	margin: 0;
	.assignment-list-item {
		border-top: 1px solid #e9e9e9;
		position: relative;
		top: 0;
		left: 0;
		padding: $spacer * 0.6 0;
		a {
			color: inherit;
			width: 100%;
			&:hover {
				text-decoration: none;
			}
		}
		.course-name {
			font-weight: normal;
		}
		&:hover {
			background-color: #E1E4EB;
		}
		&:last-child {
			border-bottom: 1px solid #e9e9e9;
		}
		&:after {
			@extend .completion-icon-helper;
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background-size: 24px;
		}
		.assignment-heading {
			margin-bottom: 0;
			font-weight: bold;
			color: $dark-blue;
		}
		.assignment-upload-date {
			margin-bottom: 0;
		}
		&.error {
			&:after {
				background-image: url('../images/fail.svg');
			}
			.assignment-upload-date {
				color: $fail;
			}
		}
		&.complete {
			.course-name {
				font-weight: normal;
			}
			&:after {
				background-image: url('../images/success.svg');
			}
		}
	}
	&.course-module-list {
		.assignment-list-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			.course-icon {
				@extend .completion-icon-helper;
				width: 32px;
				height: 32px;
				background-size: 26px;
        &.book {
          background-image: url(../images/book.svg);
        }
        &.quiz {
          background-image: url(../images/quiz.svg);
        }
        &.forum {
          background-image: url(../images/forum.svg);
        }
        &.video {
          background-image: url(../images/video.svg);
        }
        &.intro {
          background-image: url(../images/intro.svg);
        }
			}
			.course-name {
				color: $dark-blue;
				font-weight: bold;
				margin: 0 1rem;
				width: calc(100% - 90px - 2rem);
			}
			.completion-icon {
				@extend .completion-icon-helper;
				background: transparent;
				&.complete {
					background-image: url('../images/tick-circle.svg');
				}
			}
			&:after {
				background: transparent;
				content: url(../images/arrow.svg);
        width: 18px;
        height: 18px;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
			}
			&.complete {
				.course-name {
					font-weight: normal;
				}
				&:after {
					opacity: 0.5;	
				}
			}
			&.remove-caret:after {
				content: '';
			}
			&.remove-caret:hover {
				background-color: #fff;
			}
		}
	}
}

/* Course Styles */

.intro-content-wrapper {
	.intro-content-toggle {
		display: block;
		margin-bottom: $spacer * 2;
		.assignment-list-item:after {
			transform: translateY(-50%) rotate(90deg);
		}
		&.open {
			.assignment-list-item:after {
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
	.intro-content {
		display: block;
	}
	.assignment-list-item {
		border-bottom: none !important;
	}
	&.seen {
		.intro-content-toggle {
			display: block;
		}
		.intro-content {
			display: block;
		}	
	}
}

/* Activity: Book Styles */
.path-mod-book {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/book.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
	.navtop, .navbottom {
		// display: none;
	}
}

/* Activity: Forum Styles */
.path-mod-forum {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/forum.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Activity: Page Styles */
.path-mod-page {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/book.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Activity: Folder Styles */
.path-mod-folder {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/book.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Activity: Glossary Styles */
.path-mod-glossary {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/book.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Activity: Quiz Styles */
.path-mod-quiz {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/quiz.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Activity: Assignment Styles */
.path-mod-assign {
	.card-body {
		h2 {
			position: relative;
			display: inline-block;
		}
		h2:before {
			content: "";
	    display: inline-block;
			background-image: url(../images/quiz.svg);
			width: 32px;
			height: 32px;
			background-size: 26px;
			background-size: cover;
			margin-right: 10px;
			vertical-align: middle;

		}
	}
}

/* Module Styles */
.course-link-psuedo {
	content: url(../images/arrow.svg);
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 14px;
	transition: opacity 0.3s;
}
.prev-module-link {
	color: $primary;
	margin-bottom: $spacer * 2;
	font-weight: 600;
	font-size: 12px;
	span {
		margin-right: $spacer * 0.25;
		svg {
			width: 10px;
			height: 10px;
			path {
				fill: $primary;
			}
		}
	}
}
.card-header.course-header,
.card-footer.course-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacer $spacer * 0.25;
	.course-link {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		color: inherit;
		flex: 1;
		&:hover {
			text-decoration: none;
		}
		p {
			color: $dark-blue;
			margin: 0;
			line-height: 1;
			small {
				font-size: 12px;
				color: $blue;
			}
		}
		&.prev {
			padding-left: 2.2rem;
			&:before {
				@extend .course-link-psuedo;
				transform: translateY(-50%);
				opacity: 0.5;
			}
		}
		&.next {
			padding-right: 2.2rem;
			text-align: right;
			&:after {
				@extend .course-link-psuedo;
				left: calc(100% - 24px);
				transform: translateY(-50%) rotate(180deg);
				opacity: 0.5;
			}
		}
		&:hover:after,
		&:hover:before {
			opacity: 1;
		}
	}
	.course-link-heading {
		font-weight: 600;
		line-height: 1.5;
		color: #354052;
	}
}

.module-dates {
	color: $blue;
}

/* Quiz Styles */

.quiz-title {
	.card-title {
		display: inline-block;
		margin-bottom: 0;
	}
	.quiz-status {
		display: inline-block;
		svg {
			width: 1.4rem;
			height: 1.4rem;
		}
	}
}

.question {
	margin-top: $spacer * 2.5;
}

.progress-icon-wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
	}
	.progress-icon {
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid #e9e9e9;
		border-radius: 50%;
		background: $white;
		position: relative;
		top: 0;
		left: 0;
		span {
			display: none;
			position: absolute;
			top: -8px;
			left: 50%;
			transform: translateX(-50%) translateY(-100%);
			white-space: nowrap;
			padding: $spacer * 0.2 $spacer * 0.25;
	    background: rgba(0,0,0,0.6);
	    border-radius: 5px;
	    color: $light-blue;
	    &:after {
	    	content: "";
		    display: block;
		    position: absolute;
		    top: 100%;
		    left: 50%;
				transform: translateX(-50%);
		    width: 0; 
		    height: 0; 
				border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 6px solid rgba(0,0,0,0.6);
	    }
		}
		&:hover {
			background-color: $primary;
			span {
				display: block;
			}
		}

		&.complete {
			background-color: $primary;
		}
		&.next {
			&:before {
				content: "";
		    display: block;
		    position: absolute;
		    top: -8px;
		    left: 50%;
				transform: translateX(-50%);
		    width: 0; 
		    height: 0; 
				border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 6px solid $primary;
			}
		}
		&.error {
			&:before {
				content: "";
		    display: block;
		    position: absolute;
		    top: calc(100% + 4px);
		    left: 50%;
				transform: translateX(-50%);
		    width: 0; 
		    height: 0; 
				border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-bottom: 6px solid $fail;
			}
		}
	}
}

.que {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.info, .content {
		width: 100%;
		clear: both;
		display: block;
		margin: $spacer 0;
	}
	.info {
	}
	.content {
	}
}

/* Assignment Page */

.assignment-wrapper {
  border-top: 1px solid #e9e9e9;
  padding: $spacer 0;
  &:last-child {
  	border-bottom: 1px solid #e9e9e9;
  }
  .assignment-title {
  	font-weight: bold;
  	color: $dark-blue;
  	margin: 0;
  }
  p {
  	margin: 0;
  	color: $light-gray;
  	a {
  		color: inherit;
  	}
  }
  .btn {
		border-width: 1.5px;
	}
  .assignment-status {
  	@extend .completion-icon-helper;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-size: contain;
  }
	&.error {
		.assignment-status {
			background-image: url('../images/fail.svg');
		}
		.upload-data {
			color: $fail;
		}
	}
	&.complete {
		.assignment-status {
			background-image: url('../images/success.svg');
		}
	}
	&.locked {
		position: relative;
		top: 0;
		left: 0;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,0.8);
			z-index: 2;
		}
		.assignment-status {
			background-image: url('../images/lock.svg');
		}	
	}
}

.nav.nav-tabs {
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	.nav-item {
		margin-left: $spacer / 2;
		&:first-child {
			margin-left: 0;
		}
		.nav-link {
			color: $secondary;
			font-weight: bold;
	    background-color: #fff;
  		border-color: #ddd;
  		position: relative;
  		top: 0;
  		left: 0;
			&.active {
				color: $primary;
				border-color: #ddd #ddd #fff;
			}
			&.error:after {
				content: "";
		    width: 14px;
		    height: 14px;
		    position: absolute;
		    top: 4px;
		    right: 4px;
		    background-image: url(../images/fail.svg);
		    background-size: cover;
			}
		}
	}
}

.tab-pane {
	padding: $spacer;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	border-top-left-radius: 0;
	&:target {
		margin-top: 0 !important;
		padding-top: $spacer !important;
	}
}

/* Modal Styles */
.modal-open {
	nav,
	.container {
		filter: blur(3px);
	}
}
.modal {
	.modal-dialog {
		max-width: none;
		margin: 0;
		display: flex;	
		align-items: center;
		justify-content: center;
		.modal-content {
			border: none;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			padding: $spacer * 3;
		}
	}
}
#assignModal {
	max-width: 550px;
	margin: $spacer * 2 auto;
	width: 100%;
	.modal-content {
		padding: $spacer;
		width: 100%;
		height: 100%;
		.modal-body {
			width: 100%;
			height: 100%;
			padding: $spacer;
			text-align: left;
			.modal-title {
				color: $dark-blue;
				font-size: 24px;
			}
		}
	}
	.modal-close {
		position: absolute;
		top: $spacer;
		right: $spacer;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border: 2px solid $secondary;
		border-radius: 50%;
		img {
			width: 16px;
		}
	}
	iframe {
		max-width: 100%;
		body {
			background-color: #0f0;
			padding: 0;
		}
	}
}

.general-content {
	color: #919aa9;
	p ~ ul {
		margin-top: $spacer * -1;
		padding-left: $spacer * 1.75;
	}
	h6 {
		margin-bottom: 0;
	}
}

/* Login styles */
.pagelayout-login {
	background-image: url(../images/login-background.jpg);
	background-size: cover;
	.moodle-login {
		display: none;
	}
	#region-main-box {
		width: 100%;
	}
	.card {
		border-radius: 7px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #ffffff;
	  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	  .login-instruction {
	  	width: 100%;
		  font-size: 30px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.07;
		  letter-spacing: normal;
		  text-align: center;
		  color: #32315e;
		  margin-bottom: 44px;
	  }
	  .login-button {
	  	margin-bottom: 15px;
	  	.btn  {
	  		margin: 0 auto;
			  height: 52px;
			  background-color: #0f6db8;
			  color: #fff;
			  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
			  position: relative;
			  top: 0;
			  left: 0;
			  padding-left: 66px;
			  max-width: 100%;
			  &:before {
					content: "";
					position: absolute;
					top: 4.75px;
					left: 4px;
					background-color: #fff;
					background-image: url('../images/logo.png');
					width: 58px;
					height: 42px;
					display: block;
					border-radius: 3px;
					background-size: 34px;
			    background-repeat: no-repeat;
			    background-position: center;
			  }
			  &:hover, &:focus {
			  	color: #fff;
			  	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
			  }
		  }
		  .potentialidp {
		  	text-align: center;
		  	a {
			  	@extend .btn;
			  	display: flex;
			  	align-items: center;
			  	justify-content: center;
			  }
			}
	  }
	  .cookies {
	  	width: 100%;;
		  font-size: 16px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.5;
		  letter-spacing: normal;
		  text-align: center;
		  color: #9ba9bc;
	  }
	  .back-to-masterstart {
	  	width: 100%;
	  	text-align: center;
	  	margin-top: 35px;
	  	a {
		  	width: 100%;
			  font-size: 16px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.5;
			  letter-spacing: normal;
			  text-align: center;
		  }
		}
	}
	.card-title {
		display: none;
	}
}

.mform {
	.felement {
		> div {
			width: 100%;
		}
		.editor_atto_wrap {
			margin-bottom: 1.5em;
		}
		.editor_atto_content.form-control {
			width: 100%;
		}
	}
}

.navtop, .navbottom {
	height: 38px;
	img {
		display: none;
	}
	> a > img {
		display: none;
	}
	&:after {
		content: none;
	}
}

.navtop {
	margin: 1rem 0 0;
}

#theme_switch_link {
	display: none;
}
#page-wrapper::after {
	content: none;
}