@media screen and (max-width: 1024px) {
  body.path-mod-quiz {
    .custom-select {
      max-width: 55%;
    }
  }
}

@media screen and (max-width: 768px) {
  body.path-mod-quiz {
    .custom-select {
      max-width: 35%;
    }
  }

  .navbar {
    padding: 0;
    height: 60px;
    .navbar-brand {
      border: none;
      width: 100%;
      position: absolute;
      z-index: 0;
      padding-right: $spacer;
      img {
        width: 38px;
      }
    }

    .account-menu .dropdown-menu,
    .navbar-collapse {
      height: 0 !important;
      background-color: rgba(0, 0, 0, 0.5);
      &.show {
        height: calc(100vh - 60px) !important;
      }
    }

    .main-nav {
      .nav-item {
        border-radius: 0;
        background-color: $white;
        height: initial;
        .nav-link {
          padding: 0.5rem 0;
          line-height: 36px;
        }
        .dropdown-item {
          padding: $spacer 18px;
          line-height: initial;
          &:before,
          &:after {
            content: none;
          }
          &.module {
            .course-name {
              width: calc(100% - 48px);
            }
          }
          &.module + .dropdown-menu .dropdown-item:after {
            content: none;
          }
        }
        &.dropdown {
          padding: 0;
          > .dropdown-menu {
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: calc(100vh - 290px);
          }
          .dropdown-menu {
            margin: 0;
            background: #fff;
            &:before,
            &:after {
              content: none;
            }
          }
          .nav-link.dropdown-toggle {
            padding: $spacer * 0.5 18px;
            position: relative;
            &:after {
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
            }
          }
        }
        &.error:after {
          top: 50%;
          transform: translateY(-50%);
          right: $spacer;
        }
      }
      .dropdown .dropdown-menu {
        border-radius: 0;
        border: none;
      }
    }

    .account-menu {
      position: absolute;
      left: initial;
      right: 0;
      height: 60px;
      width: 60px;
      .avatar {
        margin: 0;
      }
      .user-info {
        display: none;
      }
      .mobile-user-info {
        display: block;
      }
      /* Account Menu Toggle */
      .navbar-nav {
        position: absolute;
        .nav-link.dropdown-toggle {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          &:after{
            content: none;
          }
          &.open:after {
            content: "";
            width: 60px;
            height: 60px;
            background: no-repeat center center;
            background-size: 24px;
            background-image: url(../images/close.svg);
            background-color: $white;
            border: none;
            
            position: fixed;
            top: 0;
            right: 0;
            z-index: 11;
          }
        }
      }

      /* Account Dropdown Menu */
      .dropdown-menu {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 9;
        border-radius: 0;
        .nav-item {
          background: $white;
          height: initial;
          .nav-link {
            padding: 0.5rem 0;
          }
        }
      }
    }

    .dropdown .dropdown-menu {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .navbar-collapse {
      .dropdown-submenu {
        .dropdown-item {
          position: relative;
          top: 0;
          left: 0;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: $spacer;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 5px solid $dark-blue;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
          }
        }
      }
      .dropdown-item:hover, 
      .dropdown-item:focus {
        &:after {
        transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    .dropdown-submenu {
      .dropdown-item {
        &:hover {
          color: inherit;
        }
      }        
      .dropdown-submenu {
        .dropdown-item {
          background-color: $light-blue;
        }
        .dropdown-menu {
          .dropdown-item {
            background-color: #e8f0f7;
            line-height: initial;
          }
        }
      }
    }
  }

  .breadcrumb-wrapper {
    top: 60px;
    padding-left: 0;
    .back-button {
      display: block;
    }
  }

  .dashboard-cards .card {
    max-width: none;
  }

  .nav.nav-tabs {
    .nav-item {
      width: 100%;
      margin: 0;
      .nav-link {
        width: 100%;
        &.error:after {
          top: 50%;
          transform: translateY(-50%);
          right: $spacer;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      margin: 1rem;
    }
  }

  .login-background {
    .py-4.px-5 {
      padding: 10px !important;
    }
  }

  .card-header.course-header,
  .card-footer.course-footer {
    display: none;
  }
}