.navbar {
  height: 80px;
  background-color: #e8f0f7;
  color: #32315e;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  max-height: none;
  /* Site Logo Section */
  .navbar-brand {
    height: 100%;
    border-right: 1px solid rgba(16, 109, 184,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer;
    padding-right: $spacer * 2;
  }
  /* End Site Logo Section */
  .navbar-nav .nav-item.login {
    background-color: #1a6fbc;
    a {
      color: #fff;
    }
  }
  .navbar-nav .nav-item.login:hover {
    background-color: #868e96;
  }
  .navbar-nav .nav-item {
    display: inline-block;
    border-radius: 18px;
    height: 36px;
    padding: 0 18px;
    margin-left: 0;
    .nav-link {
      color: #32315e;
      padding: 0;
      font-size: 14px;
      line-height: 36px;
      font-weight: 600;
    }
    &.error {
      position: relative;
      top: 0;
      left: 0;
      &:after {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('../images/fail.svg');
        background-size: cover;
      }
    }
  }

  .main-nav {
    width: 100%;
    .nav-item.active,
    .nav-item:hover {
      background-color: #32315e;
      .nav-link {
        color: $white;
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      width: 250px;
      top: calc(100% + 7px);
      font-size: 0.875rem;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        left: 10px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #7f8fa4;
      }
      &:after {
        top: -9px;
        border-bottom: 10px solid #fff;
      }
      .dropdown-item {
        width: 100%;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        border-top: 1px solid #e5e5e5;
        position: relative;
        padding: 12px $spacer;
        font-weight: 600;
        font-size: 0.9em;
        &:after {
          content: "";
          background-image: url(../images/arrow.svg);
          display: block;
          position: absolute;
          top: 50%;
          right: 5px;
          width: 14px;
          height: 14px;
          background-size: contain;
          background-repeat: no-repeat;
          transform: translateY(-50%) rotate(180deg);
        }
        &.remove-caret:after {
          content: '';
        }
        .course-icon {
          width: 24px;
          height: 24px;
          display: inline-block;
          background-image: url(../images/empty.svg);
          background-size: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 20px;
          &.book {
            background-image: url(../images/book.svg);
          }
          &.quiz {
            background-image: url(../images/quiz.svg);
          }
          &.forum {
            background-image: url(../images/forum.svg);
          }
          &.intro {
            background-image: url(../images/intro.svg);
          }
        }
        &.module {
          .course-name {
            width: calc(100% - 30px);
          }
        }
        &.locked {
          position: relative;
          top: 0;
          left: 0;
          .completion-icon {
            background-image: url('../images/lock.svg');
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.8);
            z-index: 2;
          }
        }
        .completion-icon {
          width: 24px;
          height: 24px;
          display: inline-block;
          background-image: url(../images/empty.svg);
          background-size: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 20px;
          position: relative;
          top: 2px;
          left: 0;
        }
        .completion-icon.completed {
          background-image: url(../images/tick-circle.svg);
        }
        .course-name {
          width: calc(100% - 60px);
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      li:last-child {
        border-bottom: 1px solid #e5e5e5;
      }
      .dropdown-submenu {
        position: relative;
        > .dropdown-menu {
          top: -10px;
          left: 100%;
          margin-left: 10px;
          &:before, &:after {
            left: -15px;
            top: 26px;
            transform: rotate(-90deg);
          }
          &:before {
            left: -16px;
          }
        }
        &:hover {
          > .dropdown-menu {
            display: block;
          }
        }
      }
    }
    &:hover > .dropdown-menu {
      display: block;
    }
  }

  .navbar-toggler {
    position: relative;
    z-index: 9;
    width: 80px;
    height: 100%;
    outline: none !important;
    .navbar-toggler-icon {
      width: 24px;
      height: 24px;
      background-image: url(../images/menu.svg);
    }
    &.open {
      background-color: $white;
      .navbar-toggler-icon {
        background-image: url(../images/close.svg);
      }
    }
    &.error {
      .navbar-toggler-icon {
        position: relative;
        top: 0;
        left: 0;
        &:after { 
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          top: -10px;
          right: -10px;
          background-image: url(../images/fail.svg);
          background-size: cover;
        }
      }
    }
  }

}

/* Allows Gap between menus */
.dropdown-submenu:after {
  content: "";
  background: transparent;
  display: block;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
.account-menu {
  position: relative;
  top: 0;
  left: 0;
}

.nav-item.dropdown:after,
.account-menu:after {
  @include media-breakpoint-up(md) {
    content: "";
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
/* End Gap between menus */

/* Account Menu Styles */
.account-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 36px;
    height: 36px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin-right: $spacer;
  }
  .user-info {
    color: $light-gray;
    font-size: 12px;
    font-weight: 600;
  }
  .navbar-nav {
    .dropdown-menu {
      left: auto;
      right: 0;
      padding: 0;
      top: calc(100% + 30px);
      text-align: center;
      &:before, 
      &:after {
        left: auto;
        right: 20px;
      }
      .nav-item {
        height: 100%;
        width: 100%;
        color: #32315e;
        border-radius: 0;
        border: none;
        border-top: 1px solid #e5e5e5;
        &:last-child {
          border-bottom: 1px solid #e5e5e5;
        }
        .dropdown-menu .nav-item {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-top: 1px solid #e5e5e5;
          text-align: center;
          border-radius: 0;
          &:first-child {
            border-top: none;
          }
        }
        .nav-link {
          height: 100%;
          color: #32315e;
        }
      }
    }
  }
  .mobile-user-info {
    display: none;
    background: $white;
    padding: 18px;
    .avatar {
      margin: 0;
      margin-bottom: 10px;
    }
  }
  h6 {
    font-weight: bold;
    color: $secondary;
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
/* End Account Menu Styles */


/* Breadcrumb Menu */
.breadcrumb-wrapper {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 9;
  border-bottom: 1px solid rgba(26, 111, 188, 0.1);
  background-color: $light-blue;
  padding-left: calc(1rem + 18px + 100px);
  @include media-breakpoint-down(md) {
    display: none;
    height: 0;
  }
  .back-button {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background-color: rgb(27, 170, 228);
    padding: 8px 10px;
    margin-right: $spacer;
    svg {
      width: 14px;
    }
  }
  .breadcrumb {
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: $spacer * 0.75 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75rem;
    .breadcrumb-item a {
      color: #9ba9bc;
    }
    .breadcrumb-item.active {
      color: $bright-blue;
      font-weight: 600;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "";
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 24px;
  display: inline-block;
  height: 8px;
  transform: rotate(180deg);
  opacity: 0.5;
}
.breadcrumb-item.back-button+.breadcrumb-item:before {
  content: none;
}
/* End Breadcrumb Menu */