/* Colors */
$primary:               #1baae4;
$secondary:             #1a6fbc;
$nav-blue: 							#e8f0f7;
$light-gray: 						#7f8fa4;
$white: 								#f6f9fc;
$dark-blue: 						#32315e;
$blue:									#5f6e96;
$bright-blue:						#106db8;
$medium-blue: 					#9ba9bd;
$light-blue: 						#f6f9fc;

$border-radius:         3px;
$btn-border-radius:     $border-radius;

$success: 							#1bb934;
$fail: 									#ed1c24;
